.Home {
  padding: 2px;
  width:100vw;
  margin: 0;

  
}
.parent{
  width: 100vw;
  position: relative;
  /* background-color: black; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px  1fr 2fr auto;
  grid-template-areas: "topbar"
                        "crousal"
                        "mainContent"
                         "footer";
}
.topBar{
  background-color:#301303;
  grid-area: topbar;
  color: beige;
  width: 100vw;
  

}
.crousal{
width: 100vw;
  grid-area: crousal;
  
}
.mainContent{
  background-color: yellow;
  grid-area: mainContent;
}
.footer{
  background-color:#1c0c03;
  color: beige;
  grid-area: footer;
  width: 100vw;
 
}
.nav {
  position: fixed;
  width: 100vw;
  z-index: 4;
  color: aliceblue;
 top: 0px;
  
  }

/* .main {
  min-height: 100vh;
  max-width: 100%;
  padding:0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new:hover {
  color: rgb(224, 93, 17);
}
.top {
  background-color:#301303;
  height: 25px;
  color: beige;
  width: 100%;
}
.footer {
  background-color:#1c0c03;
  height: 250px;
  color: beige;
  width: 100%;
}
.card1{
  max-width: 400px;
  height: 300px;
} */
